.cajita {
    margin:20px;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    padding: 20px;
}
/*______________________________________________________________*/
.cajita.Linear{
   
    position: relative;
    animation: LinearAnimation 5s linear 1s infinite alternate;
}

.cajita.Ease{

    position: relative;
    animation: LinearAnimation 5s ease 1s infinite alternate;

}
.cajita.EaseIn{

    position: relative;
    animation: LinearAnimation 5s ease-in 1s infinite alternate;

}

.cajita.EaseOut{

    position: relative;
    animation: LinearAnimation 5s ease-out 1s infinite alternate;

}


.cajita.EaseInOut{

    position: relative;
    animation: LinearAnimation 5s ease-in-out 1s infinite alternate;

}

 @keyframes LinearAnimation {
    
    from{
        background-color: red;
        left: 0;
    }
    to{
        background-color: blue;
        left: 100px;
    }
}  
