.gridContainer{

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;

}

.gridContainer > div{
    width: 25vw;
    height: 25vh;
    margin: 15px;
    padding: 15px;
    /* background-color: white; */
}

.plano{
border: 1px solid black;
background-color: aqua;
}
.gradiente{
    border: 1px solid black;
    background: linear-gradient(to right, blue, pink);

}
.imagen{
    border: 1px solid black;
    color: white;
background-image: url("/assets/imgs/imag1.jpg");;
}
